:root {
    --topbar-color: white;
    --sidebar-bg-color: rgb(2, 1, 1);
    --sidebar-color: rgb(253, 253, 253);
    --sidebar-link-color: rgb(30, 157, 49);
  }
  
  section[data-css="sidebar"] {
    background-color: var(--sidebar-bg-color) !important;
    color: var(--sidebar-color);
    border: none;
  }
  
  section[data-css="sidebar"] svg {
    fill: var(--sidebar-color) !important;
  }
  
  a[data-css="sidebar-logo"] {
    background-color: var(--sidebar-bg-color) !important;
    width: 80px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }
  
  section[data-css="sidebar-resources"] {
    background: var(--sidebar-bg-color) !important;
  }
  
  [data-css="sidebar"] section a {
    background: var(--sidebar-bg-color) !important;
    color: var(--sidebar-color);
  }
  
  [data-css="sidebar"] a:hover {
    color: var(--sidebar-link-color);
  }